@import "parts/icons.css";
/*@import "themes/tabsbar.css";*/
/* Full width tabs */
.tabbrowser-tab:not([style^="max-width"]):not([pinned]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]) {
  max-width: 100% !important;
}
.tabbrowser-tab:not([style^="max-width"]):not([pinned]):not([fadein]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]):not([fadein]) {
  max-width: .1px !important;
}
/* change titlebar & tabsbar*/
#navigator-toolbox #titlebar {
	-moz-box-ordinal-group: 2;
} /* */
